:root {
    --yellow: #f6d365;
    --black: #333333;
    --white: #ffffff;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    
}
 .hamberger-icon{
        color: var(--white);
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        margin-right: 10px;
        
    }


/* !header */


.btn-form:hover{
    background-color: red;
    color: azure;
    font-size: medium;
}
header{
    width:auto;
    height:800px ;
    background-image:url("../img/banner-bg.png") ;
    background-repeat:no-repeat ;
    background-size:cover ;
}

.main-content{
    width:auto;
    height:1700px ;
    background-image: url(../img/stats-bg.png);
    background-repeat:no-repeat ; 
    background-size:cover ;
}


.product-bg{

      width:auto;
    height:800px ;
    background-image:url("../img/chicken-wing-bg-black.png") ;
    background-repeat:no-repeat ;
    background-size:cover ;

}

/* !section */
.poppular-menu{
    width: auto;
    height: 800px;
    background-image: url("../img/popular-bg.png");
    background-repeat:no-repeat ;
    background-size:cover ;
}

.popular-title{
  
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
    
   
}
/* !section */





/* !navbar */


.nav-warapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: relative;
    padding-top: 40px;
    
    

    


    
}


.menu.show{
    display: flex;
    flex-direction: column;
    /* padding: ; */
}
.menu{
        gap: 50px;
        list-style: none;
        display: flex;
        
        li{
            a{
                text-decoration: none;
                color: #ffffff;
            }
            a:hover{
                color: red;
            }
        } 
        
        
    }
    

.contain{
    margin-top: 200px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
     h1 {
    font-size: clamp(2rem, 10vw, 6.875rem);
    }


 
}
.contain2{
    position: relative;
    margin-top: 20px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
     h1 {
    font-size: clamp(2rem, 3.6vw, 6.875rem);
    }
    


 
}





.discount-btn{
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    font-size: larger;
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

    
}
.discount-btn:hover{
    color: red;
    background-color: black;
}



h3{
    color: red;
}

p{
    color: black;
}


.popular-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

        .popular-menu-items1{
            img{
                border-radius: 120px;
            }

        }



        .popular-menu-items2{
            img{
                border-radius: 120px;
            }
            
        }


        .popular-menu-items3{
            img{
                border-radius: 120px;
            }
            
        }
   
    
}


/* ! chichen section*/

.chicken{
    width:auto;
    height:auto ;
    background-image:url("../img/chicken-wing-bg-black.png") ;
    background-repeat:no-repeat ;
    background-size:cover ;
    padding-bottom: 80px;
   
    
}



.contain3{
    

    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto ;
    column-gap: 50px;


   
    color: #ffffff;
    padding: 20px;
    text-align: center;
     h1 {
    font-size: clamp(2rem, 10vw, 6.875rem);
    }
} 

.chicken-wrapper{
    padding-top: 100px;


    .chicken-img{
    img{
        object-fit:cover ;
        border-radius: 50px;
        box-shadow: 5px 3px 3px black;
    }
}
.chicken-content{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 280px;
     h1 {
    font-size: clamp(2rem, 10vw, 4.875rem);
    }
}




}
.credit{
    width: auto;
    height: auto;
    background-image: url("../img/stats-bg.png");
    background-repeat:no-repeat ;
    background-size:cover ;
    
}

.credit-wrapper{
   
    padding: 50px;
    
}
.contain4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 100px;
    
   
    
}
.icon{
    display: flex;
    gap: 80px;
    list-style: none;
    a{
        color: #333333;
    }
    a:hover{
        color: #ff0000;
    }
}

.popular-menu-items1:hover{
        cursor: pointer;
        transform: scale(1.3);
        transition: 3s;
    
}

.popular-menu-items2:hover{
        cursor: pointer;
        transform: scale(1.3);
        transition: 3s;
    
}


.popular-menu-items3:hover{
        cursor: pointer;

        transform: scale(1.3);
        transition: 3s;
    
}


.chicken-img:hover{
    cursor: cell;
    transform: rotateY(360deg);
    transition: 3s;
}


.zoom:hover{
        cursor: pointer;
        transform: scale(3);
        transition: 2s;
}


/* !Product-items */
.producitem{
    padding-top:100px ;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(3,1fr);
    height: 1000px;
   

}

.item1{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    border-radius: 70px;
    
    
    p{
        padding-top: 50px;
    }
   
    .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}
 a{
        text-decoration: none;
        
        color: blue;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
    
}

.item2{
    background-color: #ffffff;
     padding: 50px;
    text-align: center;
    border-radius: 70px;
    position: relative;
     p{
        padding-top: 50px;
    }
    .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}
 a{
        text-decoration: none;
        
        color: blue;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
    
}

.item3{
    background-color: #ffffff;
     padding: 50px;
    text-align: center;
    border-radius: 70px;
    position: relative;
     p{
        padding-top: 50px;
    }
     .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}
 a{
        text-decoration: none;
        
        color: blue;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
}

.item4{
    background-color: #ffffff;
     padding: 50px;
    text-align: center;
    border-radius: 70px;
    position: relative;
     p{
        padding-top: 50px;
    }
      .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}
 a{
        text-decoration: none;
        
        color: blue;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
    
}


.item5{
    background-color: #ffffff;
     padding: 50px;
    text-align: center;
    border-radius: 70px;
    position: relative;
     p{
        padding-top: 50px;
    }
    .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}
 a{
        text-decoration: none;
        
        color: blue;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
}

.item6{
    background-color: #ffffff;
     padding: 50px;
    text-align: center;
    border-radius: 70px;
    position: relative;
     p{
        padding-top: 50px;
    }
     .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
   
}
    a{
        text-decoration: none;
        
        color: blue;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
 
}

.img-box{
    top: 120px;
    left: 100px;
    height: 200px;
    width: 300px;
    
    border-radius: 100px;
    display: block;
    
}





/* ! responsive  880px */



@media screen and (max-width: 800px) {

    
    .hamberger-icon{
        display: block ;
    }
    .menu{
        display: block;
    }
    header{
        height: auto;
       
        padding: 3rem 0;
    }


    .zoom:hover{
        cursor: pointer;
        transform: none;
        transition: none;
        
    }
    


    .nav-warapper{
        flex-direction: column;
        align-items: start;
        
    }
    
    .menu{
        flex-direction: column;
        margin-top: 10px;
        display: none;

       
       

        .logo{

        }
    }
    li{
        margin-top: 20px;
    }

    .contain4{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }
    

   
    
}




/* ! responsive  1000px */


@media screen and (max-width: 1000px) {
  .contain {
    margin-top: auto;
  }
  .contain2 {
    margin-top: auto;
  }

  .contain3 {
    display: grid;
    grid-template-columns: 1fr; /* ให้ซ้อนลงแถวใหม่ */
    row-gap: 20px;
    column-gap: 0;
    text-align: center;
  }
 

  .popular-menu-items1 img,
  .popular-menu-items2 img,
  .popular-menu-items3 img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 30px;
  }



  .chicken-img img{
    width: 100%;
    height:auto;
    border-radius: 30px;


  }
  .chicken-content{
   
   grid-column-start: 1/2;
   text-align: center;
   justify-content: center;
   align-items: center;

   
  }
  .inset{
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
    padding-top: -100px;
  }
  

 
  
}



.about-bg{
    background-image: url(../img/bgproduct.jpg);
}


.about-main{
    
}
.main-content-about{
    background-color: black;
    height: 800px;
}


.about-content{
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #ff0000;
    
    
     column-gap: 100px;
    
}





.about-box-1{
     width: auto;
    height: 500px;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   border-radius: 50px;
   padding: 50px;
   display: block;
   
}

.about-box-1{
    background-color: rgb(255, 255, 255);
    color: var(--black);
    border-radius: 50px;
     padding-left: 100px;
}

.img-box-about{

    margin-top: 30px;
    left: 130px;
    width: 300px;
    height: 200px;
    background-color: #333333;
    border-radius: 30px;
}
.img-box-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;  
    z-index: 2;
}





.about-box-2{
    background-color: rgb(255, 255, 255);
    color: var(--black);
    border-radius: 50px;
    padding: 50px;
    display: block;
    padding-left: 100px;
    
}

.img-box-about-2{
    
    margin-top: 30px;
    left: 160px;
    width: 300px;
    height: 200px;
    background-color: #333333;
    border-radius: 30px;
   
}
.img-box-about-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;  
    
    z-index: 2;
    
}


.contacted{
    display: flex;
    column-gap: 50px;
    a{
        color: #333333;
        text-decoration: none;
    }
    a:hover{
        color: red;
    }
    li{
        list-style: none;
    }
}



.register-content-about {
  background-image: url(../img/chicken-wing-bg-black.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px; 
  width: 100%;
}


.register-content{
    padding: 100px;
    color: white;
}
