body{
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
   
    
    background-color: rgba(255, 196, 0, 0.637);
    
    background-size:cover ;
    background-image: url(../assets/img/chicken-wing-bg-black.png);
    background-repeat:no-repeat ;
    
}

.btn-qty {
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

/* ปุ่ม + */
.btn-qty.plus {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

/* ปุ่ม - */
.btn-qty.minus {
  background: linear-gradient(135deg, #ff4b1f, #ff9068);
}

/* เอฟเฟกต์ hover */
.btn-qty:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* เอฟเฟกต์ตอนกด */
.btn-qty:active {
  transform: scale(0.95);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.container {
    max-width: 1320px;
    margin: 0 auto;
    
}
.menu-header{
    margin-left: 380px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2  , 1fr);
    grid-template-rows: auto;
    column-gap: 200px;
    max-width: 100%;
     max-height: 100%;


}
.img-menu{
    max-width: 100%;
     max-height: 100%;
}
.img-menu img{
    width: 500px;       
  height: 400px;      
  object-fit: cover;  
  border-radius: 50px; 
}


.content-menu{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}


.nav-warapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: relative;
    padding-top: 40px;
    
    

    


    
}


.menu.show{
    display: flex;
    flex-direction: column;
    /* padding: ; */
}
.menu{
        gap: 50px;
        list-style: none;
        display: flex;
        
        li{
            a{
                text-decoration: none;
                color: #ffffff;
            }
            a:hover{
                color: red;
            }
        } 
        
        
    }
    

